<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>yeon 블로그</title>
</head>
<body>
<h2>글을 쓰세요</h2>
<form action="/create">
<p>
  제목: <input type="text" name="title" /><br />
  내용: <textarea name="content"></textarea><br />
  <input type="submit" value="제출"/>
</p>
</form>
</body>
</html>
