<!Doctype HTML>
<html>
  <head>
    <title> dudu </title>
  </head>

  <body>
    <% if @name == 'hodu' %>
    <h1> 사랑하는 </h1>
    <% 10.times do%>
    <h1><%= @name %>!!!welcome!!</h1>
    <% end %>
  </body>
</html>
