<!Doctype html>
<html>
<head>
  <title>운세 사이트</title>
</head>
<body>
  어디보자....

  <%= @year %>년에는
  <%= @zodiac%>자리 사람과 잘 맞을거야 ^.^
  행운을 불러오는 색은 <%= @color%>색이야!!

  그럼 화이팅@@!
  <img src="<%= @img[@fortune] %>">

</body>

</html>
