<!Doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>혈액형 선택 페이지</title>
</head>
<body>
  <h3>혈액형을 선택하세요</h3>
  <form action ="/b_result">
    A형<input type="radio" name="blood" value="A" /><br />
    B형<input type="radio" name="blood" value="B" /><br />
    O형<input type="radio" name="blood" value="O" /><br />
    AB형<input type="radio" name="blood" value="AB" /><br />
    <input type="submit" value="클릭!" />
  </form>
</body>
</html>
