<h3> Edit !!</h3>
<form action="/update/<%=@post.id%>">
<p>
제목: <input type="text" name="title" value="<%= @post.title%>"/> <br />
내용: <textarea name="content"> <%=@post.content%> </textarea><br />
<input type='submit' value="퐁" />
</p>
</form>
