<!Doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title> 완성된 글 보기 페이지 </title>
</head>
<body>
<p>제목</p><br /><%= @title%>
<p>내용</p><br /><%= @content%><br /><br /><br />

<a href="/">홈으로 가기</a>
<a href="/diary">목록 보기</a>

</body>
</html>
